* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: url('/images/train1.jpg') ;
  background-size: cover;
}

header {
  display: flex;
 justify-content: space-between;
  background-color:rgb(20, 31, 90); 
  color: #fff;
  padding: 7px; 
  align-items: center;
}

header h1 {
  margin: 0;
}
 nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px; /* Adjust spacing between list items */
  
}

nav ul li.right-options {
  float: right;
}

nav ul li.right-options a {
  margin-left: 20px; /* Adjust spacing between right-aligned links */
  color: #ffffff;
  text-decoration: none;
}

section {
  padding: 2rem;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

form input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

footer {
  background-color: rgb(20, 31, 90);
  display:flex;
  color: #ffffff;
  text-align: center;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* align-items: center; */
  justify-content: center;
}
.input-box {
  width: 600px;
  background-color: rgba(13, 20, 64, 0.9);;
  border: 2px solid rgba(255, 255, 255, 0.2);
  /* backdrop-filter: blur(30px); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color:rgb(255, 255, 255);
  border-radius: 10px;
  padding: 30px 40px;
  /* margin-left: auto; */
  margin-right: auto;
  margin-top: 100px;
}
.input-box label {
  display: block;
  margin-bottom: 5px;
}

.input-box input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #dcd3d3;
  border-radius: 3px;
}
 
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  max-height: 60px; /* Adjust the height as needed */
  vertical-align: middle;
  border-radius: 50%;
}

/* .right-options {
  list-style-type: none;
  margin: 0;
  padding: 0;
} */

 /* .right-options li {
  display: inline;
  margin-left: 20px; 
} 
 */
/* nav ul:last-child {
  margin-left: auto;
}
 */